@CHARSET "UTF-8";

#header{
	margin: 0px 100px 60px 100px;
	overflow: hidden;
}
#logo{
	float:left;
}
#navigation{
	float:left;
}
#navigation ul{
	margin:0px;
	padding:0px;
	list-style-type: none;
}
#navigation li{
	float:left;
}

#operator{
	overflow: hidden;
}
#login{
	float:left;
}
#register{
	float:left;
}
#iconAndcorpus{
	width:856px;
	display: flex;
	margin-bottom: 10px;
}
#facadeContent{
	width:856px;
}

#introduce{
	padding: 0 0px;
	margin-left: 10px;
	display: flex;
	align-items: center;
    vertical-align: top;
}
#introicon{
	float: left;
}

#search{
	text-align: center;
}
#content{
	margin: 10px 100px 50px 100px;
	overflow:hidden;
}

#leftBody{
	float:left;
	width:17%;
	text-align:left;
	background-color: white;
	padding: 0px 0px 10px 0px;
}

#leftBody div{
	margin: 0px 5px 5px 5px;
	/* background-image: url("../images/vocabularys/YixiangVocabulary-basicinfo/title.png"); */
	background-color: #00a5bd;
	font-size:20px;
}
#leftBody div a{
	text-decoration:none;
	padding: 13px 10px 13px 10px;
	display:block;
	color: white;
}
.wlable{
	margin-left:8px;
}
.appeimg{
	margin-left:40px;
}
.appelable{
	margin-left:8px;
}
#rightBody{
	float: left;
	/* width: 63.7%; */
	width: 64.5%;
	text-align: left;
	background-color: white;

}
#leftBody div:hover {
	/* color: #0099FF; */
	background-color:#5fbfd2;
}
.navigation div:hover {
	/* color: #0099FF; */
	background-color:#5fbfd2;
}

/* #leftBody div a:hover {color: #5fbfd2} */
#leftBody div a:active {color: #0099FF}

#leftBody ul{
	background-color: white;
	margin: 0px;
	padding-left: 30px;
}
#leftBody ul li{
	list-style-type: none;
	font-size:20px;
	text-align:left;
	padding: 3px 0px 3px 0px;
}
#leftBody ul li a{
	display:block;
	color: black;
}

#footer{
	background-color: #51A3BB;
	color:white;
}
#upFooter{
	overflow: hidden;
}
#concernUs{
	margin-left:10%;
	width:30%;
	float:left;
}
#concernUs p{
	font-size:18px;
	margin-left: 30px;	
}
#concernUs ul{
	font-size:13px;
	list-style-type: none;	
}
#concernUs ul li{
	padding: 3px 0px 3px 0px;
}
#concernUs ul li a{
	text-decoration:none;
	display: block;
	color: white;
}
#tuochUs{
	width:30%;
	float: left;
}
#tuochUs p{
	font-size:18px;
	margin-left: 40px;	
}
#tuochUs ul{
	font-size:13px;
	list-style-type: none;	
}
#tuochUs ul li{
	padding: 3px 0px 3px 0px;
}
#tuochUs ul li a{
	text-decoration:none;
	display: block;
}
#quickLink{
	width:30%;
	float: left;
}
#quickLink p{
	font-size:18px;
	margin-left: 30px;	
}
#quickLink ul{
	font-size:13px;
	list-style-type: none;	
}
#quickLink ul li{
	padding: 3px 0px 3px 0px;
}
#quickLink ul li a{
	text-decoration:none;
	display: block;
	color: white;
}
#downFooter{
	margin-left:10%;
	padding: 10px 0px 10px 0px;
	font-size:13px;
}
#detailBox{
	left: 0px;
	width: 100%;
	opacity: 0.9;
	background-color: #0f1010;
}
.kuohao{
	/* display:flex; */
	justify-content: space-between;
}
.left-arrow{
	width: 20px;
	/* transform: rotate(90deg); */
	margin-top: 5px;
	margin-left: 13px;
}