<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.art.dao.NewCaseMapper" >
  <resultMap id="BaseResultMap" type="cn.art.model.NewCase" >
    <id column="NewCaseID" property="newcaseid" jdbcType="INTEGER" />
    <result column="NewCaseName" property="newcasename" jdbcType="VARCHAR" />
    <result column="NewCaseImg" property="newcaseimg" jdbcType="VARCHAR" />
    <result column="TID" property="tid" jdbcType="INTEGER" />
    <result column="NewCaseArg" property="newcasearg" jdbcType="VARCHAR" />
    <result column="NewCaseRTotal" property="newcasertotal" jdbcType="VARCHAR" />
    <result column="NewCaseROutline" property="newcaseroutline" jdbcType="VARCHAR" />
    <result column="NewCaseRColor" property="newcasercolor" jdbcType="VARCHAR" />
    <result column="NewCaseRTexture" property="newcasertexture" jdbcType="VARCHAR" />
    <result column="NewCaseATotal" property="newcaseatotal" jdbcType="VARCHAR" />
    <result column="NewCaseAOutline" property="newcaseaoutline" jdbcType="VARCHAR" />
    <result column="NewCaseAColor" property="newcaseacolor" jdbcType="VARCHAR" />
    <result column="NewCaseATexture" property="newcaseatexture" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    NewCaseID, NewCaseName, NewCaseImg, TID, NewCaseArg, NewCaseRTotal, NewCaseROutline, 
    NewCaseRColor, NewCaseRTexture, NewCaseATotal, NewCaseAOutline, NewCaseAColor, NewCaseATexture
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from newcase_
    where NewCaseID = #{newcaseid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from newcase_
    where NewCaseID = #{newcaseid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.art.model.NewCase" >
    insert into newcase_ (NewCaseID, NewCaseName, NewCaseImg, 
      TID, NewCaseArg, NewCaseRTotal, 
      NewCaseROutline, NewCaseRColor, NewCaseRTexture, 
      NewCaseATotal, NewCaseAOutline, NewCaseAColor, 
      NewCaseATexture)
    values (#{newcaseid,jdbcType=INTEGER}, #{newcasename,jdbcType=VARCHAR}, #{newcaseimg,jdbcType=VARCHAR}, 
      #{tid,jdbcType=INTEGER}, #{newcasearg,jdbcType=VARCHAR}, #{newcasertotal,jdbcType=VARCHAR}, 
      #{newcaseroutline,jdbcType=VARCHAR}, #{newcasercolor,jdbcType=VARCHAR}, #{newcasertexture,jdbcType=VARCHAR}, 
      #{newcaseatotal,jdbcType=VARCHAR}, #{newcaseaoutline,jdbcType=VARCHAR}, #{newcaseacolor,jdbcType=VARCHAR}, 
      #{newcaseatexture,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.art.model.NewCase" >
    insert into newcase_
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newcaseid != null" >
        NewCaseID,
      </if>
      <if test="newcasename != null" >
        NewCaseName,
      </if>
      <if test="newcaseimg != null" >
        NewCaseImg,
      </if>
      <if test="tid != null" >
        TID,
      </if>
      <if test="newcasearg != null" >
        NewCaseArg,
      </if>
      <if test="newcasertotal != null" >
        NewCaseRTotal,
      </if>
      <if test="newcaseroutline != null" >
        NewCaseROutline,
      </if>
      <if test="newcasercolor != null" >
        NewCaseRColor,
      </if>
      <if test="newcasertexture != null" >
        NewCaseRTexture,
      </if>
      <if test="newcaseatotal != null" >
        NewCaseATotal,
      </if>
      <if test="newcaseaoutline != null" >
        NewCaseAOutline,
      </if>
      <if test="newcaseacolor != null" >
        NewCaseAColor,
      </if>
      <if test="newcaseatexture != null" >
        NewCaseATexture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newcaseid != null" >
        #{newcaseid,jdbcType=INTEGER},
      </if>
      <if test="newcasename != null" >
        #{newcasename,jdbcType=VARCHAR},
      </if>
      <if test="newcaseimg != null" >
        #{newcaseimg,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="newcasearg != null" >
        #{newcasearg,jdbcType=VARCHAR},
      </if>
      <if test="newcasertotal != null" >
        #{newcasertotal,jdbcType=VARCHAR},
      </if>
      <if test="newcaseroutline != null" >
        #{newcaseroutline,jdbcType=VARCHAR},
      </if>
      <if test="newcasercolor != null" >
        #{newcasercolor,jdbcType=VARCHAR},
      </if>
      <if test="newcasertexture != null" >
        #{newcasertexture,jdbcType=VARCHAR},
      </if>
      <if test="newcaseatotal != null" >
        #{newcaseatotal,jdbcType=VARCHAR},
      </if>
      <if test="newcaseaoutline != null" >
        #{newcaseaoutline,jdbcType=VARCHAR},
      </if>
      <if test="newcaseacolor != null" >
        #{newcaseacolor,jdbcType=VARCHAR},
      </if>
      <if test="newcaseatexture != null" >
        #{newcaseatexture,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.art.model.NewCase" >
    update newcase_
    <set >
      <if test="newcasename != null" >
        NewCaseName = #{newcasename,jdbcType=VARCHAR},
      </if>
      <if test="newcaseimg != null" >
        NewCaseImg = #{newcaseimg,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        TID = #{tid,jdbcType=INTEGER},
      </if>
      <if test="newcasearg != null" >
        NewCaseArg = #{newcasearg,jdbcType=VARCHAR},
      </if>
      <if test="newcasertotal != null" >
        NewCaseRTotal = #{newcasertotal,jdbcType=VARCHAR},
      </if>
      <if test="newcaseroutline != null" >
        NewCaseROutline = #{newcaseroutline,jdbcType=VARCHAR},
      </if>
      <if test="newcasercolor != null" >
        NewCaseRColor = #{newcasercolor,jdbcType=VARCHAR},
      </if>
      <if test="newcasertexture != null" >
        NewCaseRTexture = #{newcasertexture,jdbcType=VARCHAR},
      </if>
      <if test="newcaseatotal != null" >
        NewCaseATotal = #{newcaseatotal,jdbcType=VARCHAR},
      </if>
      <if test="newcaseaoutline != null" >
        NewCaseAOutline = #{newcaseaoutline,jdbcType=VARCHAR},
      </if>
      <if test="newcaseacolor != null" >
        NewCaseAColor = #{newcaseacolor,jdbcType=VARCHAR},
      </if>
      <if test="newcaseatexture != null" >
        NewCaseATexture = #{newcaseatexture,jdbcType=VARCHAR},
      </if>
    </set>
    where NewCaseID = #{newcaseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.art.model.NewCase" >
    update newcase_
    set NewCaseName = #{newcasename,jdbcType=VARCHAR},
      NewCaseImg = #{newcaseimg,jdbcType=VARCHAR},
      TID = #{tid,jdbcType=INTEGER},
      NewCaseArg = #{newcasearg,jdbcType=VARCHAR},
      NewCaseRTotal = #{newcasertotal,jdbcType=VARCHAR},
      NewCaseROutline = #{newcaseroutline,jdbcType=VARCHAR},
      NewCaseRColor = #{newcasercolor,jdbcType=VARCHAR},
      NewCaseRTexture = #{newcasertexture,jdbcType=VARCHAR},
      NewCaseATotal = #{newcaseatotal,jdbcType=VARCHAR},
      NewCaseAOutline = #{newcaseaoutline,jdbcType=VARCHAR},
      NewCaseAColor = #{newcaseacolor,jdbcType=VARCHAR},
      NewCaseATexture = #{newcaseatexture,jdbcType=VARCHAR}
    where NewCaseID = #{newcaseid,jdbcType=INTEGER}
  </update>
</mapper>